@using MvcCv.Models.Entity
@model List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkımda Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <label>AD</label>
        <input type="text" name="Ad" value="@x.Ad" class="form-control" />
        <br />
        <label>SOYAD</label>
        <input type="text" name="Soyad" value="@x.Soyad" class="form-control" />
        <br />
        <label>ADRES</label>
        <input type="text" name="Adres" value="@x.Adres" class="form-control" />
        <br />
        <label>TELEFON</label>
        <input type="text" name="Telefon" value="@x.Telefon" class="form-control" />
        <br />
        <label>MAİL ADRESİ</label>
        <input type="text" name="Mail" value="@x.Mail" class="form-control" />
        <br />
        <label>RESİM</label>
        <input type="text" name="Resim" value="@x.Resim" class="form-control" />
        <br />
        <label>AÇIKLAMA</label>
        <textarea rows="5" class="form-control" name="Aciklama">@x.Aciklama</textarea>
    }
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>